.calcContainer {
  display: flex;
  flex-wrap: wrap;
  width: 36vw;
}

.btn {
  width: 25%;
  padding: 1.2rem;
  border-radius: 0;
  border-top: 2px solid #d1d1d1;
  border-left: 2px solid #d4d4d4;
  border-right: 2px solid #d4d4d4;
  border-bottom: 2px solid #bbbbbb;

}

.orange {
  background-color: #f8943c;
}

.double {
  width: 50%;
}