.header {
  display: flex;
  justify-content: space-between;
}

.title {
  margin-block: auto;
  font-size: 3.6rem;
  font-family: 'Noto Sans JP', sans-serif;
}

.navbar {
  margin-right: 3rem;
}

.ul {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.li {
  border-right: 1px solid black;
  padding: 0.3rem 0.9rem;
  font-size: 1.2rem;
  font-family: 'Noto Sans JP', sans-serif;
}

.li:nth-child(3) {
  border-right: none;
}

a:active {
  color: rgb(0, 117, 163);
}

.active {
  color: black;
  text-decoration: none;
}

.hover {
  cursor: pointer;
}
