.screen {
  box-sizing: border-box;
  width: 100%;
  height: 3.9rem;
  background-color: #888494;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.5rem;
  color: white;
  padding: 0.3rem;
}